*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 40px;
}
body{
    background-color: #b5ff98;
}
.block{
    height: 75px;
    width: 405px;
    margin-left: 50px;
    
}
.red {
    background-color: red;
    margin-top: 0px;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
    margin-bottom: 40px;
}
.block {
    height: 75px;
    width: 405px;
    margin-left: 150px;
}
.red1{
   
    background-color: red;
    
}
.green1{
    
    background-color: green;
  
    
}
.blue1{
    
    background-color:blue; 
   
    
}
.main-block-top{
    width: 135px;
    height: 75px;
}
.block1{
    margin-left: 150px;
    display: flex;
}
.yellow{
    background-color: yellow;
    margin-left: 150px;
    width: 405px;
    height: 75px;

}
.grey{
   background-color: gray;
}
.black{
    background-color: black;
}
.block2{
    margin-left: 150px;
    display: flex;
}
.main-block-bottom{
    width: 202.5px;
    height: 75px;
}
.footer{
    background-color: chartreuse;
    display: flex;
    padding: 20px;
    margin-left: 150px;
    width: 360px;
    margin-top: 40px;
}
.green2{
    background-color:green;
    margin-left: 40px;
}
.blue2{
    background-color:blue;
    margin-left: 40px;
}
.red2{
    background-color:red;
    margin-left: 40px;
}
.footer-block{
    height: 70px;
    width: 150px;
}
p{
    text-align: left;
    padding: 6px;
}
